#searchForm input {
    min-width: 20%;
}

button {
    cursor: pointer;
}

table {
    min-width: 50%;
    border-collapse: collapse;
    border: 1px solid #c2c2c2;
}

table tr:nth-child(even) {
    background-color: #efefef;
}

table tr td {
    text-align: center;
}

table .user-rows td button {
    background-color: white;
    border-radius: 15%;
}

table .user-rows td button img {
    height: 20px;
    width: 20px;
}

#menu-row .right-align button{
    float: right;
    margin: 5px;
    background-color: #a8a8a8;
    border-radius: 15%;
}

#addArea {
    margin: 5px;
}

#addArea span {
    font-weight: bold;
}

#addArea button {
    background-color: #337ABC;
    border-color: #337ABC;
    color: white;
}

#addArea button img{
    height: 20px;
    width: 20px;
    float: left;
}